
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div>
			<p>Password Reset Link has been sent to your email , Please check your inbox</p>
		</div>
		<div>
			<a href="https://mail.google.com/mil/u/0/#inbox">Your inbox</a>
		</div>
	</div>
</div>

